<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011212293110-jpm7t5s43t46j1fvili27p57acbdt8c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011212293110-jpm7t5s43t46j1fvili27p57acbdt8c0</string>
	<key>API_KEY</key>
	<string>AIzaSyC8pvJaW6YnSdrfrEuvE2nToPnNWY7cWhk</string>
	<key>GCM_SENDER_ID</key>
	<string>1011212293110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.pucpr.ProjetoFinal</string>
	<key>PROJECT_ID</key>
	<string>projetofinal-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>projetofinal-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011212293110:ios:b9cb4a34e4805249</string>
	<key>DATABASE_URL</key>
	<string>https://projetofinal-ios.firebaseio.com</string>
</dict>
</plist>